{% extends 'base.html' %}
{% block title %}
    {% if request.GET.user_id %}
    {% else %}

    {% endif %}
{% endblock title %}

{% block content %}

<h2 style="font-weight: normal;">

    {% if request.GET.user_id %}
        Количество моих объявлений: {{ page_obj.paginator.count }}
    {% else %}
        Количество объявлений: {{ page_obj.paginator.count }}
    {% endif %}
</h2>

    <p>Сегодня: {{ time_now|date:'d M Y' }}</p>

    <a href="{% url 'create' %}" style="display: block; margin-bottom: 20px;">Добавить объявление</a>

    <h3>Фильтры</h3>
    <form method="get">
        {{ filterset.form.as_p }}
        <button type="submit" class="btn btn-primary">Применить фильтры</button>
        <a href="{% url 'posters' %}" class="btn btn-primary">Сбросить фильтры</a>

    </form>

    {% if page_obj %}
        <table cellspacing="10">
            <tr>
                <td>Заголовок</td>
                <td>Дата публикации</td>
                <td>Автор</td>
                <td>Категория</td>
            </tr>
            <p>
            {% for post in page_obj %}
                <tr>
                    <td>
                        {% if post.id %}
                            <a href="{% url 'poster_detail' post.id %}">{{ post.head }}</a>
                        {% endif %}
                    </td>
                    <td>{{ post.poster_origin|date:'d M Y' }}</td>
                    </td>
                    <td>{{ post.user.username }}</td>
                    <td>
                        {% for category in post.categories.all %}
                        {{ category.name }}
                        {% empty %}-{% endfor %}
                    </td>

                </tr>
            {% endfor %}
            </p>
        </table>
    {% else %}
        <h2>
            {% if request.GET.user_id %}
                У тебя нет объявлений!
            {% else %}
                Объявлений нет!
            {% endif %}
        </h2>
    {% endif %}

    <!-- Пагинация с сохранением параметров (user_id и т.д.) -->
    <a href="?{{ request.GET.urlencode }}&page=1">&laquo;first</a>

    {% if page_obj.has_previous %}
        <a href="?{{ request.GET.urlencode }}&page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
    {% endif %}

    Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}

    {% if page_obj.has_next %}
        <a href="?{{ request.GET.urlencode }}&page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
    {% endif %}

    {% if page_obj.number < page_obj.paginator.num_pages %}
        <a href="?{{ request.GET.urlencode }}&page={{ page_obj.paginator.num_pages }}">last&raquo;</a>
    {% endif %}
{% endblock content %}


