{% extends 'base.html' %}

{% block title %}Принять отклик{% endblock %}


{% block content %}
    <h1>Принять отклик</h1>
    <p><strong><a href="{% url 'poster_detail' poster.id %}">На объявление:</a> {{ poster.head }}</strong></p>
    <p><strong>От:</strong> {{ response.sender }}</p>
    <p><strong>Отправленный:</strong> {{ response.response_origin|date:"d.m.Y" }}</p>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Форма ResponseAcceptForm (если есть поля, иначе просто кнопка) -->
        <p><button type="submit">Принять отклик</button></p>
    </form>

        <a href="{% url 'responses' user.id %}"> "Отклики на мои объявления"</a>
{% endblock content %}